################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/WładcyKostek.Api/bin/Debug/net9.0
/WładcyKostek.Api/obj
/WładcyKostek.Api/appsettings.Development.json
/WładcyKostek.Core/bin/Debug/net9.0
/WładcyKostek.Core/obj
/WładcyKostek.Core/Requests/Queries/GetNewsIdsQuery.cs
/WładcyKostek.Repo/bin/Debug/net9.0
/WładcyKostek.Repo/obj
/WładcyKostek.Api/bin/Release/net9.0
/WładcyKostek.Core/bin/Release/net9.0
/WładcyKostek.Repo/bin/Release/net9.0
/WladcyKostek.Api/bin/Release/net9.0
/WladcyKostek.Api/obj
/WladcyKostek.Core/bin/Release/net9.0
/WladcyKostek.Core/obj
/WladcyKostek.Repo/bin/Release/net9.0
/WladcyKostek.Repo/obj
/WladcyKostek.Api/bin/Debug/net9.0
/WladcyKostek.Core/bin/Debug/net9.0
/WladcyKostek.Repo/bin/Debug/net9.0
/WladcyKostek.Api/Logs
/WladcyKostek.Api/Properties/PublishProfiles/FolderProfile1.pubxml.user
